<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>v-for#컴포넌트와 v-for</title>
    </head>
    <body>
        <div id="todo-list-example">
            <input
                v-model="newTodoText"
                v-on:keyup.enter="addNewTodo"
                placeholder="Add a todo">
            <ul>
                <todo-item
                    v-for="(todo, index) in todos"
                    v-bind:key="todo"
                    v-bind:title="todo"
                    v-on:remove="todos.splice(index, 1)">
                </todo-item>
            </ul>
        </div>

        <script src="https://unpkg.com/vue"></script>
        
        <script>
            // v-for #컴포넌트와 v-for
            Vue.component('todo-item', {
                template: 
                    `<li>
                        {{ title }}
                        <button v-on:click="$emit('remove')">X</button>
                    </li>`,
                props: ['title']
            })
            new Vue({
                el: '#todo-list-example',
                data: {
                    newTodoText: '',
                    todos: [
                        'Do the dishes',
                        'Take out the trash',
                        'Mow the lawn'
                    ]
                },
                methods: {
                    addNewTodo: function () {
                        this.todos.push(this.newTodoText)
                        this.newTodoText = ''
                    }
                }
            })
        </script>
    </body>
</html>