<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>v-for#v-for와 v-if</title>
    </head>
    <body>
        <div id="example-4">
            <li v-for="todo in todos" v-if="!todo.isComplete">
                {{ todo.text }}
            </li>

            <ul v-if="shouldRenderTodos">
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ul>
        </div>

        <script src="https://unpkg.com/vue"></script>
        
        <script>
            // v-for #v-for와 v-if
            var example4 = new Vue({
                el: '#example-4',
                data: {
                    todos: [
                        {text: '1', isComplete: false },
                        {text: '2', isComplete: true }
                    ],
                    shouldRenderTodos: true
                }  
            })
        </script>
    </body>
</html>