
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>컴포넌트간 전환</title>

        <style>
            .component-fade-enter-active, .component-fade-leave-active {
                transition: opacity .3s ease;
            }
            .component-fade-enter, .component-fade-leave-to
                /* .component-fade-leave-active for <2.1.8 */ {
                opacity: 0;
            }
        </style>
    </head>
    <body>
        <script src="https://unpkg.com/vue"></script>       

        <div id="transition-components-demo" class="demo">
            <input type="radio" value="v-a" id="a" v-model="view">
            <label for="a">A</label> 
            <input type="radio" value="v-b" id="b" v-model="view">
            <label for="b">B</label> 
            <transition name="component-fade" mode="out-in">
                <component v-bind:is="view"></component>
            </transition>
        </div>

        <script>
            new Vue({
                el: '#transition-components-demo',
                data: {
                    view: 'v-a'
                },
                components: {
                    'v-a': {
                        template: '<div>Component A</div>'
                    },
                    'v-b': {
                        template: '<div>Component B</div>'
                    }
                }
            })
        </script>
    </body>
</html>
