<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>v-for</title>
    </head>
    <body>
        <script src="https://unpkg.com/vue"></script>

        <!-- v-for 템플릿 -->
        <ul id="example-3">
            <template v-for="item in items">
                <li>{{ item.message }}</li>
                <li class="divider"></li>
            </template>
        </ul>

        <!-- v-for #v-for와 객체 -->
        <ul id="repeat-object" class="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>

        <div id="repeat-object1">
            <div v-for="(value, key) in object">
                {{ key }} : {{ value }}
            </div>
        </div>

        <!-- v-for #Range v-for -->
        <div id="range-v-forX">
            <span v-for="n in 10">{{ n }}</span>
        </div>

        <script>
            // v-for #v-for 템플릿
            var example3 = new Vue({
                el: '#example-3',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })

            // v-for #v-for와 객체
            var repeatObject = new Vue({
                el: '#repeat-object',
                data: {
                    object: {
                        firstName: 'John',
                        lastName: 'Doe',
                        age: 30
                    }
                }
            })

            var repeatObject1 = new Vue({
                el: '#repeat-object1',
                data: {
                    object: {
                        firstName: 'John',
                        lastName: 'Doe',
                        age: 30
                    }
                }
            })

            // v-for #Range v-for
            var rangeVfor = new Vue({
                el: '#range-v-forX',
                data: {
                    n: 0
                }
            })

        </script>
    </body>
</html>